sudo: true
env:
- URL=https://developer.salesforce.com/media/salesforce-cli/sfdx-v5.6.22-f9533ba-linux-amd64.tar.xz
before_install:
- openssl aes-256-cbc -K $encrypted_1b6ad412bc94_key -iv $encrypted_1b6ad412bc94_iv
  -in assets/server.key.enc -out assets/server.key -d
- openssl aes-256-cbc -K $encrypted_49b03f275fa2_key -iv $encrypted_49b03f275fa2_iv
  -in assets/server.key.enc -out assets/server.key -d
- wget -qO- $URL | tar xJf -
- ./heroku/install
- export PATH=./heroku/$(pwd):$PATH
before_script:
- export SFDX_DISABLE_ENCRYPTION=true
- sfdx force --help
- sfdx force:auth:jwt:grant --clientid $CONSUMERKEY --jwtkeyfile assets/server.key
  --username $USERNAME --setdefaultdevhubusername
script:
- sfdx force:org:create -s -f config/workspace-scratch-def.json -a ciorg
- sfdx force:source:push -u ciorg
- sfdx force:apex:test:run -c -r human
- sleep 4m
- sfdx force:org:delete -u ciorg -p
